    <ul data-role="listview" data-inset="true">
      <% for(var dateitem in items) { %>
      <li data-role="list-divider">
        <%= dateitem %>
        <span class="ui-li-count"><%= items[dateitem].length %></span>
      </li>
      <% items[dateitem].forEach(function(i) { %>
      <li>
        <a href="/rss/<%= i._id %>" target="_blank">
          <h3 class="<% if(i.read){ %>read_rss <% } %>ui-li-heading" style="white-space:normal">
            <%= i.title %>
          </h3>
          <p class="<% if(i.read){ %>read_rss <% } %>ui-li-desc">
            <%= i.date.getHours() %>時<%= i.date.getMinutes() %>分　|　<%= i.rssSite.title %>
          </p>
        </a>
        <form name="form1" method="post" action="Next.php">

        <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <% if(i.read){ %>
            <button style="color:rgb(200,200,200)" data-theme="c" data-icon="check">既読</button>
            <% } else { %>
            <a href="#" data-role="button" data-theme="c" data-icon="check">未読</a>
            <% } %>
          <% if(i.favorite){ %>
            <button data-theme="e" data-icon="star">お気に入り</button>
          <% } else { %>
          <a href="#" class="read_rss" data-role="button" data-theme="c" data-icon="star">お気に入り</a>
          <% } %>
        </div>
        </form>
        
      </li>
      <% }) %>
      <% } %>
    </ul>
